/* Initial */

button {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
  font-size: 1em;
  margin: 3px;
  color: #FFFFFF;
  background-color: #E5B6D5;
  border-top: 5px solid #B2479A;
  border-bottom: 5px solid #B2479A;
  border-left: 5px solid #CC7FB5;
  border-right: 5px solid #CC7FB5;
}

button:hover {
  color: #FFFFFF;
  background-color: #B2479A;;
  border-top: 5px solid #CC7FB5;
  border-bottom: 5px solid #CC7FB5;
  border-left: 5px solid #E5B6D5;
  border-right: 5px solid #E5B6D5;
}
